# Copyright (c) 2024 TDK Invensense
# SPDX-License-Identifier: Apache-2.0

config ZEPHYR_HAL_TDK_MODULE
	bool "TDK HAL sensor drivers"
	help
	  Use the TDK HAL

config USE_EMD_ICM42670
	bool "ICM4267x High Performance 6-Axis MotionTracking IMU"
	depends on ZEPHYR_HAL_TDK_MODULE
	depends on DT_HAS_INVENSENSE_ICM42670P_ENABLED \
		|| DT_HAS_INVENSENSE_ICM42670S_ENABLED

config USE_EMD_ICM42370
	bool "ICM42370P High Performance 3-Axis MotionTracking Accelerometer"
	depends on ZEPHYR_HAL_TDK_MODULE
	depends on DT_HAS_INVENSENSE_ICM42370P_ENABLED