/*
 * Copyright (c) 2024, TDK Invensense
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * Get a node identifier for 6-axis IMU sensor.
 */
/ {
	aliases {
		6dof-motion-drdy0 = &icm42670p;
	};
};

/*
 * Example configuration of a ICM42670-P device on i2c0 compatible with an Arduino I2C bus.
 *
 * Device address 0x68 is assumed. Your device may have a different
 * address; check your device documentation if unsure.
 *
 * Configure 100Hz IMU data reporting
 */
&arduino_i2c {
	status = "okay";

	icm42670p: icm42670p@68 {
		compatible = "invensense,icm42670p";
		reg = <0x68>;
		int-gpios = <&arduino_header 8 GPIO_ACTIVE_HIGH>; /* D2 */
		accel-hz = <100>;
		gyro-hz = <100>;
		accel-fs = <16>;
		gyro-fs = <2000>;
	};
};

/*
 * Increase native UART speed to report all IMU data at 100Hz.
 */
&uart0 {
	compatible = "nordic,nrf-uarte";
	current-speed = <1000000>;
};

/ {
	aliases {
		testled0 = &testled0;
	};

	leds {
		compatible = "gpio-leds";

		testled0: testled_0 {
			gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
			label = "Test LED 0";
		};
	};
};

&qspi {
	status = "okay";
	pinctrl-0 = <&qspi_default>;
	pinctrl-1 = <&qspi_sleep>;
	pinctrl-names = "default", "sleep";

	mx25r64: mx25r6435f@0 {
		compatible = "nordic,qspi-nor";
		reg = <0>;
		/* MX25R64 supports only pp and pp4io */
		writeoc = "pp4io";
		/* MX25R64 supports all readoc options */
		readoc = "read4io";
		sck-frequency = <16000000>;
		jedec-id = [c2 28 17];
		sfdp-bfp = [e5 20 f1 ff ff ff ff 03 44 eb 08 6b 08 3b 04 bb
			    ee ff ff ff ff ff 00 ff ff ff 00 ff 0c 20 0f 52
			    10 d8 00 ff 23 72 f5 00 82 ed 04 cc 44 83 68 44
			    30 b0 30 b0 f7 c4 d5 5c 00 be 29 ff f0 d0 ff ff];
		size = <67108864>;
		has-dpd;
		t-enter-dpd = <10000>;
		t-exit-dpd = <35000>;
	};
};