# ICTX53XX High Accuracy TMR Magnetometer Sensor
#
# Copyright (c) 2025 TDK Invensense
#
# SPDX-License-Identifier: Apache-2.0

menuconfig ICTX53XX
	bool "ICTX53XX TMR Magnetometer Sensor"
	default y
	depends on DT_HAS_INVENSENSE_ICTX53XX_ENABLED
	depends on ZEPHYR_HAL_TDK_MODULE
	select I2C
	select I2C_RTIO if SENSOR_ASYNC_API
	select USE_EMD_ICTX53XX
	help
		Enable driver for ICTX53XX I2C-based TMR Magnetometer Sensor.
