/*
 * Copyright (c) 2020, TDK Invensense
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* Example configuration of a ICM42670S device on an Arduino SPI bus. */
&arduino_spi {
	status = "okay";
	cs-gpios = <&arduino_header 16 GPIO_ACTIVE_LOW>;
	icm42670S@0 {
		compatible = "tdk,icm42670S";
		reg = <0>;
		spi-max-frequency = <1000000>; /* conservatively set to 1MHz */
	};
};
