# ICM42670S IMU sensor configuration options
# Copyright (c) 2023 TDK Invensense
# SPDX-License-Identifier: Apache-2.0

menuconfig ICM42670S
	bool "ICM42670S Six-Axis Motion Tracking Device"
	default y
	depends on DT_HAS_INVENSENSE_ICM42670S_ENABLED
	select I2C if $(dt_compat_on_bus,$(DT_COMPAT_INVENSENSE_ICM42670S),i2c)
	select SPI if $(dt_compat_on_bus,$(DT_COMPAT_INVENSENSE_ICM42670S),spi)
	help
	  Enable driver for ICM42670S I2C-based or SPI-based Six-Axis Motion Tracking device.

if ICM42670S

config ICM42670S_APEX
	bool "ICM42670S APEX features"
	default n

choice
	prompt "ICM42670S APEX features"
	depends on ICM42670S_APEX
	default ICM42670S_APEX_PEDOMETER
	help
	  Select APEX features for ICM42670S sensor.
config ICM42670S_APEX_PEDOMETER
	bool "Pedometer: Tracks step count"
config ICM42670S_APEX_TILT
	bool "Tilt Detection: Detect the Tilt angle exceeds 35 degrees"
config ICM42670S_APEX_SMD
	bool "Significant Motion Detector (SMD): Detects significant motion based on accelerometer data"
config ICM42670S_APEX_WOM
	bool "Wake on Motion (WoM): Detects motion when accelerometer samples exceed a programmable threshold"
endchoice

config ICM42670S_THREAD_PRIORITY
	int "Thread priority"
	default 10
	help
	  Priority of thread used by the driver to handle interrupts.

config ICM42670S_THREAD_STACK_SIZE
	int "Thread stack size"
	default 1024
	help
	  Stack size of thread used by the driver to handle interrupts.

endif # ICM42670S
