# ICM42670S IMU sensor configuration options
# Copyright (c) 2023 TDK Invensense
# SPDX-License-Identifier: Apache-2.0

menuconfig ICM42670S
	bool "ICM42670S Six-Axis Motion Tracking Device"
	default y
	depends on DT_HAS_INVENSENSE_ICM42670S_ENABLED
	select I2C if $(dt_compat_on_bus,$(DT_COMPAT_INVENSENSE_ICM42670S),i2c)
	select SPI if $(dt_compat_on_bus,$(DT_COMPAT_INVENSENSE_ICM42670S),spi)
	help
	  Enable driver for ICM42670S I2C-based or SPI-based Six-Axis Motion Tracking device.

if ICM42670S
choice
	prompt "ICM42670S GYRO FSR"
	default ICM42670S_GYRO_FSR_2000DPS
	help
	  Select Gyro FSR for ICM42670S sensor.
config ICM42670S_GYRO_FSR_125DPS
	bool "125dps"
config ICM42670S_GYRO_FSR_250DPS
	bool "250dps"
config ICM42670S_GYRO_FSR_500DPS
	bool "500dps"
config ICM42670S_GYRO_FSR_1000DPS
	bool "1000dps"
config ICM42670S_GYRO_FSR_2000DPS
	bool "2000dps"
endchoice

endif # ICM42670S
